@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-alice {
        font-family: 'Alice', serif;
    }
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }
}

#toggle-btn:focus-visible + #content {
    outline: none;
}

.autofill-shadow-none:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #FFFCF9;
    }
    
.autofill-shadow-none:focus,
.autofill-shadow-none:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0px 9999px #FFFCF9, 0 0 0px rgb(255,252,249);
}